<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="body-ledGrad">
<% include partials/menu %>
<input type="number" id="testBlinker" placeholder="Input an integer
">
<button onclick="testIOT()">Save</button>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="card align-items-center" style="width: 18rem; height:28rem">
                <img src="/public/images/turningon.jpeg" style="height:50%" class="card-img-top">
                <div class="card-body text-center">
                    <h7 style="color:gold" class="pull-left" id="status">LED Status: <span class="off">Off</span></h7>
                    <h5 class="card-title">Turn LED on or off</h5>
                    <button id="toggleButton" onclick="showToggleButton()" class="btn btn-primary">Toggle</button>
                    <div id="hiddenCheckBox" style="display:none">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="selection" id="checkOn" value="On">
                            <label class="form-check-label" for="checkOn">On</label>
                            <br>
                            <input type="radio" class="form-check-input" name="selection" id="checkOff" value="Off">
                            <label class="form-check-label" for="checkOff">Off</label>
                            <br>
                            <br>
                            <button onclick="saveRadioResult()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card align-items-center" id="card" style="width: 18rem;height:28rem" id="changeColor">
                <img src="/public/images/changingcolor.jpeg" style="height:50%" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Change LED color</h5>
                    <div class="pickr-container">
                        <div class="color-picker" id="colorResult">
                        </div>
                        Click the square!
                    </div>
                    <div class="custom" id="custom"
                         style="display: none; border:2px; border-style: solid; border-color:black"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card align-items-center" style="width: 18rem; height:28rem" id="changeBrightness">
                <img src="/public/images/brightness.jpg" style="height:50%" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Change LED brightness</h5>
                    <input type="range" min="0" max="255" value="75" id="brightnessSlider">
                    <p text-center id="sliderOutput">0</p>
                    <br>
                    <button onclick="sliderInput()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    function testIOT() {
        let inputValue = document.getElementById("testBlinker").value;

        $.ajax({
            type: 'POST',
            url: '/api/test_blinker',
            dataType: 'json',
            data: {
                input: inputValue
            }
        }).done(function (result) {
            var data = result.data;
            console.log(data);
        })
    }

    const pickr = Pickr.create({
        el: '.color-picker',
        theme: 'classic', // or 'monolith', or 'nano'
        defaultRepresentation: "RGBA",
        components: {

            // Main components
            preview: true,
            opacity: true,
            hue: true,

            // Input / output Options
            interaction: {
                rgba: true,
                input: true,
                clear: true,
                save: true
            }
        }
    });

    pickr.on('save', (color, instance) => {

        pickr.setColorRepresentation("RGBA");
        pickedColor = pickr.getColor().toRGBA();

        this.custom.style.backgroundColor = `rgba(${pickedColor[0]},${pickedColor[1]},${pickedColor[2]},1)`;

        var requestColor = `rgba(${pickedColor[0]},${pickedColor[1]},${pickedColor[2]},1)`
        document.getElementById("custom").style.display = "block";

        saveRadioResult("On");

        $.ajax({
            type: 'POST',
            url: '/api/led_control/color',
            dataType: 'json',
            data: {
                r: pickedColor[0],
                b: pickedColor[1],
                g: pickedColor[2]
            }
        }).done(function (result) {
            var data = result.data;
            console.log(data);
        }).fail(function (err) {
            console.log(err);
        })
    })

    //Instantly outputting slider value
    var slider = document.getElementById("brightnessSlider");
    var sliderResult = document.getElementById("sliderOutput");

    sliderResult.innerHTML = slider.value;

    function sliderInput() {

        saveRadioResult("On");

        $.ajax({
            type: 'POST',
            url: '/api/led_control/brightness',
            dataType: 'json',
            data: {
                input: slider.value
            }
        }).done(function (result) {
            var data = result.data;
            console.log(data);
        }).fail(function (err) {
            console.log(err);
        })
    }

    slider.oninput = function () {
        sliderResult.innerHTML = this.value;
    }

    var savedRadioResult;

    //Taking in on or off button
    function saveRadioResult(radioResult) {
        var radioButton = document.getElementsByName('selection');
        for (i = 0; i < radioButton.length; i++) {
            if (radioButton[i].checked) {
                savedRadioResult = radioButton[i].value;
            }
        }

        if (radioResult != null) {
            savedRadioResult = radioResult;
        }

        if (savedRadioResult === "On") {
            document.getElementById("status").innerHTML
                = "LED Status: " + "<span class='on'>" + savedRadioResult + "</span>";

            $.ajax({
                type: 'POST',
                url: '/api/led_control/toggle',
                dataType: 'json',
                data: {
                    input: savedRadioResult
                }
            }).done(function (result) {
                var data = result.data;
                console.log(data);
            }).fail(function (err) {
                console.log(err);
            })

        } else if (savedRadioResult === "Off") {
            document.getElementById("status").innerHTML = "LED Status: " + "<span class='off''>" + savedRadioResult + "</span>";

            $.ajax({
                type: 'POST',
                url: '/api/led_control/toggle',
                dataType: 'json',
                data: {
                    input: savedRadioResult
                }
            }).done(function (result) {
                var data = result.data;
                console.log(data);
            }).fail(function (err) {
                console.log(err);
            })
        }
    }

    function showToggleButton() {
        document.getElementById("toggleButton").style.display = "none";
        document.getElementById("hiddenCheckBox").style.display = "block";
    }

    // $(document).ready(function () {
    //     $("toggleButton").click(function(){
    //         $("hiddenCheckBox").show();
    //         $("toggleButton").hide();
    //     });
    // });

</script>

</html>