<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="body-loginGrad">
<div class="container">
    <div class="row">
        <div class="col-3">
            hi
        </div>
    </div>
</div>
</body>
<script>
</script>

</html>