<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="body-signupGrad">
<div class="container">
    <div class="" style="padding-top: 5%">
        <div class="" id="faded"
             style="height:100%; padding-bottom: 100px">
            <h3 class="text-center">Sign up!</h3>
            <div class="error text-center" id="signupMSG" style="color:red"><font size="3"></font></div>
            <form class="cmxform" id="signupForm" method="post" autocomplete="on">
                <div class="form-group text-center">
                    <label for="username">
                        <br>
                    </label>
                    <input style="background-color: lightskyblue; border-color: lightskyblue" type="text"
                           class="form-control text-center input-bodyGrad" id="username" placeholder="Create a username"
                           name="username">
                    <label for="email"></label>
                    <input style="background-color: lightskyblue; border-color: lightskyblue" type="email"
                           class="form-control text-center input-bodyGrad" id="email" placeholder="Enter your email"
                           name="email">
                    <label for="password"></label>
                    <input style="background-color: lightskyblue; border-color: lightskyblue" type="password"
                           class="form-control text-center input-bodyGrad" id="password" placeholder="Create a password"
                           name="password">
                    <label for="passwordCheck"></label>
                    <input style="background-color: lightskyblue; border-color: lightskyblue" type="password"
                           class="form-control text-center input-bodyGrad" id="passwordCheck"
                           placeholder="Retype your password"
                           name="passwordCheck">
                    <br>
                    <button class="btn btn-primary" type="submit">Sign up</button>
                </div>
            </form>
            <a href="/" class="btn btn-outline-secondary" style="color: rebeccapurple; font-size:20px">Go home</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script>
    $(document).ready(function () {

        $("#signupForm").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 3
                },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5
                },
                passwordCheck: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                }
            },
            messages: {
                username: "Please enter a username",
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                passwordCheck: {
                    required: "Please confirm your password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Your passwords do not match"
                },
                email: "Please enter a valid email address"
            },
            submitHandler: function (form) {
                callServer(form);
            }

        })
    });

    function callServer(form) {
        var username = form.username.value;
        var email = form.email.value;
        var password = form.password.value;

        $.ajax({
            type: 'POST',
            url: '/login/registerAccount',
            data: {
                username: username,
                email: email,
                password: password
            }
        }).done(function (result) {
            if (result && result.signupMessage) {
                console.log(result.signupMessage);
                $('#signupMSG').html(result.signupMessage);
            } else {
                top.location.href = '/login';
            }

        })
    }


</script>
</body>
</html>


