<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="background-color: black">
<% include partials/signedInMenu %>
<div style="background-color: black">
    <div class="jumbotron jumbotron-fluid"
         style="background-image: url(/public/images/northernlights.jpg); background-size: cover">
        <div class="container-fluid" style="text-align: center">
            <h1 class="display-4" style="color:gold">LED Lighting</h1>
            <p class="lead" style="color:gold">Use a color selector to toggle, change the light color and brightness for
                LED lights.</p>
            <a href="/api/LEDLight">
                <button class="btn btn-outline-warning">Visit</button>
            </a>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid"
         style="background-image: url(/public/images/lightning.jpg); background-size: unset">
        <div class="container-fluid" style="text-align: center">
            <h1 class="display-4" style="color:springgreen">What's The Weather?</h1>
            <p class="lead" style="color:springgreen">Access a temperature and humidity sensor to check the immediate weather.</p>
            <a href="/api/temperatureAndHumidity">
                <button class="btn btn-outline-info">Visit</button>
            </a>
        </div>
    </div>
</div>
</body>
<script>
</script>

</html>


