<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="left-side" style="padding-bottom: 12%">
<script>
</script>
<% include partials/signedInMenu %>
<br>
<div class="container text-center" id="container">
    <div id="errorMSG" style="color:red"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 text-center container1" style="border-right: 3px solid black;
  height: auto">
            <h5 style="color: gold">Temperature</h5>
            <img src="/public/images/temperature.jpg" alt="thermometer" class="image" style="border: solid black 3px">
            <div class="overlay container1">
                <div class="text">
                    <button id="temperature" class="btn btn-three"
                            style="border: solid mediumpurple 3px; color: mediumpurple" onclick="getTemp()">Current
                        Temperature
                    </button>
                    <div id="tempBody" style="display:none">
                        <img src="/public/images/thermometer.png" alt="thermometer" style="height:50px; width:50px">
                        <div id="tempF" style="display:none"></div>
                        <div id="tempC" style="display:none"></div>

                    </div>

                    <br>

                    <div>

                        <button id="celsiusConv" class="button-f" onclick="celsius()"
                                style="display:none; color: deepskyblue"><span>Fahrenheit</span></button>

                        <button id="fahrenheitConv" class="button-c" onclick="fahrenheit()"
                                style="display:none; color: deepskyblue"><span>Celsius</span></button>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 text-center container-left" style="border-left: 3px solid black;
  height: auto">
            <h5 style="color:gold">Humidity</h5>
            <img src="/public/images/humidity.jpg" alt="humidity" class="image" style="border: solid black 3px">
            <div class="overlay-left container-left">
                <div class="text">
                    <button id="humidity" class="btn btn-three"
                            style="border: solid mediumpurple 3px; color: mediumpurple" onclick="getHumidity()">Current
                        Humidity
                    </button>
                    <div id="humidBody" style="display:none">
                        <img src="/public/images/humidityDrops.jpg" alt="humidity" style="height:20%; width:20%">
                        <div id="humidValue" style="display:none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="weatherHistory" class="text-center">
    <hr/>
    <button class="btn third" onclick="openNav()">Track Weather History</button>
</div>
<form id="weatherForm" method="get">
    <div class="sidebar" id="mySidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#" id="hour" onclick="weatherCall('hour')">Past Hour</a>
        <a href="#" id="day" onclick="weatherCall('day')">Past 24 Hours</a>
        <a href="#" id="week" onclick="weatherCall('week')">Past 7 days</a>
    </div>
</form>
<script>

    var tempC = null;
    var tempF = null;

    function weatherCall(selection){
        if(selection==='hour'){
            $('#weatherForm').attr("action", "/api/temp_control/query_data/hour").submit();
        }
        else if(selection==='day'){
            $('#weatherForm').attr("action", "/api/temp_control/query_data/day").submit();
        }
        else if(selection==='week'){
            $('#weatherForm').attr("action", "/api/temp_control/query_data/week").submit();
        }
    }

    function getTemp() {

        $.ajax({
            type: 'GET',
            url: '/api/temp_control/temperature'
        }).done(function (result) {
            if (result === "500") {
                $('#errorMSG').html("Sensor may not be online");
            }
            var data = result.data;
            var status = result.status;
            if (result.code === 200) {
                tempC = status.temp;
                tempF = (tempC * (9/5)) + 32;

                $('#temperature').hide();
                $('#celsiusConv').show();
                $('#tempBody').show();
                $('#tempF').show().html(tempF + "°");
                $('#tempC').html(tempC + "°");
                $('#celsiusConv').show();
            }
        }).fail(function (err) {
            console.log(err);
        })
    }

    function getHumidity() {
        $.ajax({
            type: 'GET',
            url: '/api/temp_control/temperature'
        }).done(function (result) {
            if (result === "500") {
                $('#errorMSG').html("Sensor may not be online");
            }
            var data = result.data;
            var status = result.status;
            if (result.code === 200) {
                var humidity = status.humidity;

                $('#humidity').hide();
                $('#humidBody').show();
                $('#humidValue').show().html(humidity + '%');

            }
        }).fail(function (err) {
            console.log(err);
        })
    }

    function celsius() {
        $('#tempF').hide();
        $('#tempC').show();
        $('#celsiusConv').hide();
        $('#fahrenheitConv').show();
    }

    function fahrenheit() {
        $('#tempF').show();
        $('#tempC').hide();
        $('#celsiusConv').show();
        $('#fahrenheitConv').hide();
    }

    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("weatherHistory").style.marginLeft = "0";
    }


</script>
</body>
</html>