<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="body-tempGrad" style="padding-bottom: 30%">
<script>
</script>
<% include partials/signedInMenu %>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            Temperature
        </div>
        <div class="col-12 col-sm-6 text-center">
            Humidity
        </div>
    </div>
</div>
</body>
</html>