.jumbotron-fluid {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10%;
    padding-bottom: 9%;
    background-color: rebeccapurple;
}

.dropdown-menu {
    background-color: black;
    border: transparent;
    border: none;
}

.dropdown-content a:hover {
    background-color: rebeccapurple;
}

.row {
    padding-top: 5%;
    padding-bottom: 10%;
}

.on {
    color: green;
}

.off {
    color: red;
}

.card {
    background-color: cornflowerblue;
}

.custom {
    background-color: cornflowerblue;
    margin-top: 8%;
    width: 100%;
    height: 50px
}

.body-ledGrad {
    background-color: black;
    background-image: linear-gradient(black, rebeccapurple);
}

.body-signupGrad {
    background-color: purple;
    background-image: linear-gradient(to right, deepskyblue, purple);
}

.body-loginGrad {
    background-color: purple;
    background-image: linear-gradient(to right, purple, deepskyblue, mediumpurple);
}

.input-bodyGrad {
    background-color: purple;
    background-image: linear-gradient(to right, purple, deepskyblue, purple);
}

.check {
    text-align: center;
    vertical-align: middle;
}

.pull-right {
    position: relative;
    left: 90%;
}

.left-side {
    background-color: black;
    background-image: linear-gradient(black, aqua);
}

.btn-three {
    color: lightskyblue;
    transition: all 0.5s;
    position: relative;
}

.btn-three::before {
    content: '';
    position: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(115, 50, 168, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: black;
    background-image: linear-gradient(mediumaquamarine, gray);
    opacity: 97%;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.container1:hover .overlay {
    width: 100%;
    left: 0;
}

.container-left:hover .overlay-left {
    width: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.image {
    display: block;
    width: 100%;
    height: 90%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

.overlay-left {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    background-image: linear-gradient(mediumaquamarine, gray);
    overflow: hidden;
    opacity: 95%;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
