.jumbotron-fluid{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.dropdown-menu{
     background-color: transparent;
     border: transparent;
     border: none;
 }

.dropdown-content a:hover {
    background-color: transparent;
}

.pull-right{
    position: relative;
    left:430%;
}